html,body{
  background-color: #222;
  width: 100%;
  height: 100%;
  .content{
    width: 100%;
    height: 100%;
  }
  /* stage */
  .stage{
    position: relative;
    width: 100%;
    height: 680px;
  }
 //image
  .img-sec{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #ddd;
    @at-root {
      .img-figure{
        position: absolute;
        width: 320px;
        height: 360px;
        margin:0;
        padding:40px;
        box-sizing: border-box;
        background-color: #fff;
        border-radius:7px;
        box-shadow: 1px 2px 3px black;
        img{width: 100%;height: 100%}
        transition: width 2s,transform 2s;
        transform-style: preserve-3d;
        perspective:600px;
        &.is-inverse{
          transform: rotateY(-180deg);
        }

      }
      figcaption{
        text-align: center;
        .img-title{
          margin: 20px 0 0 0;
          color:#a7a0a2;
          font-size: 16px;
        }
      }
      .img-back{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 30px;
        box-sizing: border-box;
        text-align: center;
        color: #666;
        transform: rotateY(180deg);
        background: #fff;
      }
    }

  }
  //controller
  .controller-nav{
    position: absolute;
    left:0;
    bottom:30px;
    z-index: 100;
    width: 100%;
    text-align: center;
  }
}
